.alx-popup-mess-show-anime1{
	z-index: 10;
	position: relative;
	text-align: center;
}
.afbf_success_block{
	font-size: 24px;
	color: #1e1f1d;
	font-weight: 700;
	line-height: 1.333;
}
.afbf_send_another_message a {
	color: #1e1e1e;
}