#panel {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    height: 40px;
}
.main-search-item .doc__name{
    margin-bottom: 15px;
    display: block;
    min-height: 0;
}
.main-search-item .doc__name:hover{
    text-decoration: none;
    color: #cc0001;
}
.header__search--close:after{
    width: 24px;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #e0e6eb;
}
.header__search--close::before{
    width: 24px;
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #e0e6eb;
}
.header__search--close{
    cursor: pointer;
    width: 58px;
    height: 58px;
    top: 0;
    bottom: 0;
    right: 64px;
    content: '';
    position: absolute;
}
#panel + .document .header {
    top: 40px;
}

@media only screen and (max-width: 1300px) {
    .regional__controller li:first-child {
        display: none;
    }

.regional__controller li:last-child {
    color: #cc0001;
    }

    .regional__linear-list {
        display: flex !important;
    }

    .regional__hlink::after {
        width: 100%;
        height: 2px;
        bottom: -56px;
        content: '';
        position: absolute;
        background-color: #cc0001;
        right: 0;
        left: 0;
    }
}

/*Popup*/
.popup {
    position: fixed;
    z-index: 999;
    top: 10%;
    width: 104%;
    height: 100%;
    overflow: auto;
}

.popup__body {
    width: 800px;
    height: 1150px;
    position: relative;
    background: #fff;
    padding: 65px 75px 80px 75px;
    margin: 0 auto;
}

.popup__text {
    font-size: 18px;
}

.popup__text h3, .popup__text-bold {
    font-weight: 700;
}

.popup__text-pad
{
    padding: 20px 0;
}

.popup__images-item img {
    width: 100%;
}

.hidden {
    display: none;
}

#overlay {
    position:fixed; 
    z-index:999; 
    opacity:0.8; 
    top:0; 
    right:0; 
    left:0; 
    bottom:0; 
    background:#000; 
}

.popup__btn {
    color: #fff;
    background-color: #9b5788;
    width: 250px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 125px);
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 950px) {
    .popup__body {
        width: 700px;
    }

    .popup-close {
        margin-left: 370px;
    }
}

@media (max-width: 840px) {
    .popup__body {
        width: 600px;
    }

    .popup-close {
        margin-left: 330px;
    }
}

@media (max-width: 725px) {
    .popup__body {
        width: 400px;
        height: 1900px;
    }

    .popup-close {
        margin-left: 220px;
    }

    .popup__images-item {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    .popup {
        width: 106%;
    }

    .popup__body {
        width: 300px;
        height: 2350px;
    }

    .popup-close {
        margin-left: 153px;
    }
}

@media (max-width: 350px) {    
    .popup__body {
        width: 260px;
        height: 2450px;
    }

    .popup-close {
        margin-left: 131px;
    }
}

.popup-overflow {
    overflow: hidden;
}

.regional__controller {
    display: flex;
}

.regional-content{
    display:none
}

.regional__linear-list.active {
    display: flex !important;
}

.regional__hlink {
    list-style-type: none;
    cursor: pointer;
}

.regional__hlink.active::after {
    bottom: -56px !important;
}

.news-doc__page .nice-select {
    width: 100%;
    display: block;
    min-height: 40px;
    line-height: 50px;
    margin-left: 0;
} 

.news-doc__page {
    width: 100%;
}

.news-doc__page .list .option:hover {
    color: #cc0001;
    transition: .3s;
}